.themify_builder .text-294-0-0-1.module-text { font-family: Abel; text-align: center;  } 
.themify_builder .text-294-0-0-1.module-text h1 { font-family: Abel;  } 
.themify_builder .text-294-0-0-1.module-text h2 { font-family: Abel;  } 
.themify_builder .text-294-0-0-1.module-text h3:not(.module-title) { font-family: Abel;  } 
.themify_builder .text-294-0-0-1.module-text h4 { font-family: Abel;  } 
.themify_builder .text-294-0-0-1.module-text h5 { font-family: Abel;  } 
.themify_builder .text-294-0-0-1.module-text h6 { font-family: Abel;  } 
