.themify_builder .image-844-0-0-1.module-image .image-content { font-family: Playfair Display SC; text-align: center;  } 
.themify_builder .image-844-0-0-1.module-image .image-title { font-family: Playfair Display SC;  } 
.themify_builder .image-844-0-0-1.module-image .image-title a { font-family: Playfair Display SC;  } 
.themify_builder .image-844-0-1-1.module-image .image-content { font-family: Playfair Display SC; text-align: center;  } 
.themify_builder .image-844-0-1-1.module-image .image-title { font-family: Playfair Display SC;  } 
.themify_builder .image-844-0-1-1.module-image .image-title a { font-family: Playfair Display SC;  } 
.themify_builder .image-844-0-2-1.module-image .image-content { font-family: Playfair Display SC; text-align: center;  } 
.themify_builder .image-844-0-2-1.module-image .image-title { font-family: Playfair Display SC;  } 
.themify_builder .image-844-0-2-1.module-image .image-title a { font-family: Playfair Display SC;  } 
.themify_builder .image-844-1-0-1.module-image .image-content { font-family: Playfair Display SC; text-align: center;  } 
.themify_builder .image-844-1-0-1.module-image .image-title { font-family: Playfair Display SC;  } 
.themify_builder .image-844-1-0-1.module-image .image-title a { font-family: Playfair Display SC;  } 
.themify_builder .image-844-1-1-1.module-image .image-content { font-family: Playfair Display SC; text-align: center;  } 
.themify_builder .image-844-1-1-1.module-image .image-title { font-family: Playfair Display SC;  } 
.themify_builder .image-844-1-1-1.module-image .image-title a { font-family: Playfair Display SC;  } 
